.h1 {
    margin: auto;
    margin-top: 10%;
    text-align: center;

}
.h2 {
    margin: 10% auto 10%;
    text-align: center;
}
.img1 {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
    

}

@media (max-width: 320px) {
    .h1 {
        font-size: 100%;
    }
    .h2 {
        font-size: 80%;
    }

}

/* @media (max-width: 320px) {
    .h1 {
        size: 200px;
    }


}

@media (max-width: 320px) {
    .h1 {
        size: 200px;
    }


} */