.h1 {
    margin: auto;
    margin-top: 10%;
    text-align: center;

}
.h2 {
    margin: 5% auto 5%;
    text-align: center;
}
.img1 {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
    

}
.footer {
    background-color: #DE2D1B;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 99%;
    color: #fafaff;
}


/* @media (max-width: 320px) {
    .h1 {
        size: 200px;
    }


}
